---
import { getCollection } from "astro:content";
import CardList from "~/components/CardList.astro";
import Hero from "~/components/Hero.astro";
import BaseLayout from "~/layouts/BaseLayout.astro";
import { shuffle } from "~/utils";

const problems = shuffle(
  await getCollection("problems", (problem) => !problem.data.draft),
)
  .slice(0, 6)
  .map(({ collection, slug, data: { title, tags } }) => ({
    href: `/${collection}/${slug}/`,
    slug,
    title,
    tags,
  }));

const algorithms = shuffle(
  await getCollection("algorithms", (algorithms) => !algorithms.data.draft),
)
  .slice(0, 6)
  .map(({ collection, slug, data: { title, tags } }) => ({
    href: `/${collection}/${slug}/`,
    slug,
    title,
    tags,
  }));

const dataStructures = shuffle(
  await getCollection(
    "data-structures",
    (dataStructures) => !dataStructures.data.draft,
  ),
)
  .slice(0, 4)
  .map(({ collection, slug, data: { title, tags } }) => ({
    href: `/${collection}/${slug}/`,
    slug,
    title,
    tags,
  }));

const guides = shuffle(
  await getCollection("guides", (dataStructures) => !dataStructures.data.draft),
)
  .slice(0, 2)
  .map(({ collection, slug, data: { title } }) => ({
    href: `/${collection}/${slug}/`,
    slug,
    title,
  }));
---

<BaseLayout>
  <Hero />
  <div class="max-width">
    <CardList icon="book" title="문제 해결" articles={problems} />
    <CardList icon="loop" title="알고리즘" articles={algorithms} />
    <CardList icon="graph" title="자료구조" articles={dataStructures} />
    <CardList icon="direction" title="준비 가이드" articles={guides} />
  </div>
</BaseLayout>
