---
import Article from "~/components/Article.astro";
import ArticleHeading from "~/components/ArticleHeading.astro";
import TableOfContents from "~/components/TableOfContents.astro";
import BaseLayout from "~/layouts/BaseLayout.astro";

interface Props {
  title: string;
  description?: string;
  date: Date;
  tags?: string[];
  headings: Array<{
    depth: number;
    slug: string;
    text: string;
  }>;
}

const { title, description, date, tags, headings } = Astro.props;
---

<BaseLayout {title} {description}>
  <ArticleHeading {title} />
  <div class="w-full bg-white">
    <div
      class="mx-auto flex max-w-6xl flex-row-reverse items-start justify-center px-4 py-12 sm:px-8"
    >
      {headings && headings.length > 0 && <TableOfContents {headings} />}
      <Article {date} {tags}>
        <slot />
      </Article>
    </div>
  </div>
</BaseLayout>
